import pandas as pd
import numpy as np

pd.DataFrame([4,3,3],[5,6],[5,6])

In [38]:
import pandas as pd
import glob
import os
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.impute import SimpleImputer
from sklearn.neighbors import KNeighborsRegressor
path = 'train/daily' # use your path
fileList= os.listdir(path);


# for filename in fileList:
#     if ".csv" in filename:
#         df = pd.read_csv(path+'/'+filename, index_col=None, header=0)
# #         print(filename)
#         print(df)

# frame = pd.concat(li, axis=0, ignore_index=True)
df1=pd.read_csv(path+'/'+fileList[0],index_col=None);
df1.open.mean()

2.6924995956017344

In [75]:
df1

           Date      open      high       low     close    volume
0    2003-07-03  2.796577  2.837584  2.790718  2.835143  221162.0
1    2003-07-07  2.831481  2.859064  2.830017  2.858088  220322.0
2    2003-07-08  2.850765  2.868828  2.835876  2.858820  197148.0
3    2003-07-09  2.873954  2.887379  2.863946  2.869316  211242.0
4    2003-07-10  2.863946  2.886890  2.862725  2.875174  179942.0
..          ...       ...       ...       ...       ...       ...
248  2004-06-29  2.896598  2.918978  2.885785  2.906656  142422.0
249  2004-06-30  2.919480  2.921492  2.888299  2.916966  272960.0
250  2004-07-01  2.900118  2.937083  2.831469  2.840019  313290.0
251  2004-07-02  2.826440  2.852340  2.801293  2.839767  220510.0
252  2004-07-06  2.785955  2.790732  2.722586  2.755276  317106.0

[253 rows x 6 columns]

In [78]:
df2=df1["open"];
df3=df1["low"];
X_train, X_test, y_train, y_test = train_test_split(df2, df3, test_size=.3, random_state=4)
X_train=X_train.to_numpy().reshape(-1,1)
y_train=y_train.to_numpy().reshape(-1,1)
len(X_train[0])
print(X_train)
x_sample=np.array([2.796577]).reshape(1,-1)
knn = KNeighborsRegressor(n_neighbors=5)
knn.fit(X_train, y_train)
d=knn.predict(x_sample)
print(d)

[[2.47848257]
 [2.5983789 ]
 [2.74664336]
 [2.60213452]
 [2.8543516 ]
 [2.64029553]
 [2.77510847]
 [2.70014142]
 [2.73915237]
 [2.58057604]
 [2.80658439]
 [2.70284492]
 [2.81730702]
 [2.84727034]
 [2.63577938]
 [2.84002524]
 [2.85076526]
 [2.5676537 ]
 [2.86150335]
 [2.45777965]
 [2.76728525]
 [2.79486788]
 [2.52308644]
 [2.73540717]
 [2.86833921]
 [2.60634743]
 [2.79486784]
 [2.7129344 ]
 [2.85686718]
 [2.69448721]
 [2.7431477 ]
 [2.78876487]
 [2.61923216]
 [2.44428695]
 [2.56248645]
 [2.40763616]
 [2.89646068]
 [2.93934628]
 [2.57363756]
 [2.73465808]
 [2.54984912]
 [2.58032802]
 [2.56323011]
 [2.8965977 ]
 [2.76728508]
 [2.88905355]
 [2.79120606]
 [2.82342196]
 [2.82074154]
 [2.64778503]
 [2.82147351]
 [2.6605669 ]
 [2.85083134]
 [2.55852173]
 [2.70136991]
 [2.90788274]
 [2.76412132]
 [2.56496481]
 [2.58949672]
 [2.73315983]
 [2.83428613]
 [2.82155161]
 [2.82180144]
 [2.57462836]
 [2.68297078]
 [2.5307685 ]
 [2.85083186]
 [2.6130371 ]
 [2.77261181]
 [2.58949646]
 [2.80609584]
 [2.589992  ]
 [2.74315718]
 [2.55634669]
 [2.37469862]
 [2.77143457]
 [2.81244226]
 [2.57661097]
 [2.67113657]
 [2.7903402 ]
 [2.64177192]
 [2.86394573]
 [2.82729467]
 [2.76537025]
 [2.66400853]
 [2.72192361]
 [2.7782698 ]
 [2.67998525]
 [2.72691755]
 [2.77412023]
 [2.77753695]
 [2.78909136]
 [2.85101584]
 [2.64177168]
 [2.5263074 ]
 [2.56446915]
 [2.4189429 ]
 [2.67973971]
 [2.57710678]
 [2.6817059 ]
 [2.53126404]
 [2.78925364]
 [2.63500351]
 [2.48864262]
 [2.56077124]
 [2.87444239]
 [2.62369647]
 [2.76232925]
 [2.82804422]
 [2.71767828]
 [2.81306233]
 [2.76861652]
 [2.80707259]
 [2.69030919]
 [2.79096233]
 [2.7376539 ]
 [2.59172669]
 [2.74414643]
 [2.87573568]
 [2.70948207]
 [2.59990429]
 [2.90640457]
 [2.90719702]
 [2.44376898]
 [2.37641985]
 [2.53027304]
 [2.53374216]
 [2.87395396]
 [2.68118219]
 [2.85007714]
 [2.79071812]
 [2.47352655]
 [2.63952439]
 [2.62454259]
 [2.61055981]
 [2.46782764]
 [2.91118298]
 [2.8894688 ]
 [2.66966186]
 [2.72767057]
 [2.5996565 ]
 [2.77802505]
 [2.55430912]
 [2.82643955]
 [2.74864105]
 [2.65835483]
 [2.59197443]
 [2.78160101]
 [2.52729922]
 [2.80292244]
 [2.90539934]
 [2.79657663]
 [2.52159999]
 [2.63402052]
 [2.57190283]
 [2.84978882]
 [2.81566855]
 [2.85975482]
 [2.51614842]
 [2.92853368]
 [2.56126281]
 [2.90011813]
 [2.64606409]
 [2.4523721 ]
 [2.49805922]
 [2.39878691]
 [2.57502809]
 [2.60709022]
 [2.71292341]
 [2.78259931]
 [2.58117311]
 [2.35847558]
 [2.55852191]
 [2.76212464]
 [2.84527263]
 [2.7326602 ]
 [2.57413257]]
[[2.77968522]]

In [62]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)
reg.score(2)

TypeError: score() missing 1 required positional argument: 'y'